{% extends 'main/base.html' %}

{% block title %}Enter New Password{% endblock title %}

{% block body %}
    {% if validlink %} 
        <h2>Log In</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Change my password">
        </form>
    {% else %}
        <p>The password reset link was invalid, possibly because it was already taken, please try to reset your password again</p>
    {% endif %}

{% endblock body %}
